.main-nav,
.container.header {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  min-height: 60px;
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 80px;
    max-width: 1200px;
  }
}

.logo.primary {
  margin-right: auto;
}

.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 93px;
    .item {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
    .link {
      position: relative;

      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--title-text-color);

      font-weight: 500;
      letter-spacing: 0.02em;
      text-decoration: none;

      transition: color var(--main-transition);

      &::after {
        content: "";

        position: absolute;

        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;

        opacity: 0;
        transition: opacity var(--main-transition);
      }
    }
  }
}

.site-nav .link:hover::after {
  opacity: 1;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts.primary:hover,
.contacts.primary:focus,
.location:hover,
.location:focus,
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

.contacts.head {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: flex-end;
    text-align: start;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 0;
  }
}

.contacts.primary {
  @extend %flex-align;
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-start;
  }

  color: var(--primary-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--main-transition);
}

.site-nav .link.current {
  color: var(--accent-color);
  &::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    opacity: 1;
    transition: opacity var(--main-transition);
  }
}

.contacts .item + .item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.icon-phone,
.icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.menu-open {
  position: absolute;
  margin-left: auto;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  fill: #000000;
  transition: fill var(--main-transition);
  .modal-close:hover > &,
  .modal-close:focus > & {
    fill: var(--accent-color);
  }
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
}

.container-menu {
  padding-left: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close {
  position: absolute;
  @extend %flex-align;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.menu-close-icon {
  fill: #212121;
  transition: fill var(--main-transition);
  .menu-close:hover > &,
  .menu-close:focus > & {
    fill: var(--accent-color);
  }
}
.mob-nav-link {
  font-weight: 500;
  @include font(0.02em, 40px, 1.18);

  color: #212121;
  text-decoration: none;

  transition: color var(--main-transition);
}

.mob-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: var(--accent-color);
}

// .mob-nav-list {
//   margin-bottom: 302px;
// }

.menu-contact-phone {
  font-weight: 500;
  @include font(0.02em, 34px, 1.18);
  text-decoration: none;

  @media screen and (max-width: 479px) {
    font-size: 32px;
  }

  color: var(--accent-color);

  transition: color var(--main-transition);

  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
}

.menu-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact-mail {
  font-weight: 500;
  @include font(0.02em, 24px, 1.17);

  color: var(--primary-text-color);
  text-decoration: none;

  transition: color var(--main-transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-contacts {
  margin-bottom: 64px;
}

.menu-soc {
  display: flex;
  gap: 10px;
}
.menu-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-soc-link {
  text-decoration: none;
  font-weight: 500;
  @include font(0.02em, 18px, 1.22);
  @media screen and (max-width: 400px) {
    font-size: 13px;
  }
  padding-right: 10px;

  color: var(--accent-color);

  &:hover,
  &:focus {
    color: var(--primary-text-color);
  }
}
