.overlay {
  min-height: 400px;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    min-height: 400px;
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 600px;
    max-width: 1200px;
  }

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  margin: 0 auto;
  &__title {
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;

    color: var(--secondary-text-color);

    font-weight: 900;
    text-transform: uppercase;

    @include font(0.06em, 18px, 1.62);

    @media screen and (min-width: 480px) {
      font-size: 26px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.hero .container {
  width: 100%;
}
